<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>Gestione Domande</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <style>
      /* Apple-like style */
      body {
        background-color: #f9f9f9;
        color: #333;
        font-family: "Helvetica Neue", sans-serif;
        text-align: center;
        font-size: 1.2rem;
      }
      .container {
        max-width: auto;
        margin: auto;
      }
      .btn {
        background-color: #007aff;
        color: white;
      }

      .img-preview {
        width: 150;
        height: 150px;
        object-fit: cover;
        margin-left: 10px;
      }
      .reset-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ff0000;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <button id="resetSessionButton" class="btn reset-button">
        Reset Sessione
      </button>
      <h1>Gestione delle Domande</h1>
      <div class="col-md-12">
        <a href="/" class="btn btn-warning"
          >Torna alla sezione delle risposte</a
        >
      </div>
      <div id="questionGrid">
        <!-- Le domande saranno popolate dinamicamente qui -->
      </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      let selectedFile = null; // Variabile per memorizzare il file dell'immagine selezionato

      function editQuestion(id) {
        // Se non esiste un'immagine per questa domanda, resetta selectedFile
        let existingImageElement = document.getElementById(`previewImage${id}`);
        if (!existingImageElement) {
          selectedFile = null;
        }

        // Trova gli elementi HTML relativi alla domanda e ai suggerimenti
        const questionElement = document.getElementById(`question${id}`);
        const hintsElement = document.getElementById(`editableHints${id}`);

        // Rendi gli elementi HTML modificabili
        questionElement.contentEditable = "true";
        hintsElement.contentEditable = "true";

        // Inizializza CKEditor sugli elementi

        CKEDITOR.inline(`question${id}`, {
          toolbar: [
            {
              name: "basicstyles",
              items: ["Bold", "Italic", "Underline", "Strike"],
            },
            {
              name: "paragraph",
              items: [
                "NumberedList",
                "BulletedList",
                "JustifyLeft",
                "JustifyCenter",
                "JustifyRight",
                "JustifyBlock",
              ],
            },
            { name: "colors", items: ["TextColor", "BGColor"] }, // Aggiunto qui
            { name: "links", items: ["Link", "Unlink"] },
          ],
        });

        CKEDITOR.inline(`editableHints${id}`, {
          removePlugins: "contextmenu,liststyle,tabletools",
          toolbar: [
            {
              name: "basicstyles",
              items: ["Bold", "Italic", "Underline", "Strike"],
            },
            {
              name: "paragraph",
              items: [
                "NumberedList",
                "BulletedList",
                "JustifyLeft",
                "JustifyCenter",
                "JustifyRight",
                "JustifyBlock",
              ],
            },
            { name: "colors", items: ["TextColor", "BGColor"] }, // Aggiunto qui
            { name: "links", items: ["Link", "Unlink"] },
          ],
        });
        // Cambia lo sfondo per indicare che gli elementi sono ora modificabili
        questionElement.style.backgroundColor = "#f2f2f2";
        hintsElement.style.backgroundColor = "#f2f2f2";

        // Mostra il campo di input per il caricamento dell'immagine e i bottoni "Salva" e "Elimina Immagine"
        document.getElementById(`imageInput${id}`).style.display =
          "inline-block";
        document.getElementById(`saveButton${id}`).style.display = "inline";
        document.getElementById(`addModifyImageButton${id}`).style.display =
          "inline";
        document.getElementById(`deleteImageButton${id}`).style.display =
          "inline";

        // Aggiungi un evento per memorizzare il file selezionato per l'immagine
        document
          .getElementById(`imageInput${id}`)
          .addEventListener("change", function () {
            selectedFile = this.files[0];
          });

        // Aggiungi l'ascoltatore di eventi per gestire il comportamento della lista
        hintsElement.addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            const sel = window.getSelection();
            const range = sel.getRangeAt(0);
            const cursorPosition = range.startOffset;

            // Controlla se l'ultimo elemento della lista è vuoto
            const listItems = this.innerText.split("\n");

            // Verifica la posizione del cursore
            if (
              listItems[listItems.length - 1] === "" &&
              cursorPosition === this.innerText.length
            ) {
              // Rimuovi l'ultimo elemento vuoto
              this.innerText = listItems.slice(0, -1).join("\n");

              // Fai in modo che il cursore vada alla fine del testo
              const range = document.createRange();
              range.setStart(this.childNodes[0], this.innerText.length);
              range.collapse(true);
              sel.removeAllRanges();
              sel.addRange(range);

              // Previeni l'inserimento di una nuova riga
              e.preventDefault();
            }
          }
        });
      }

      // Funzione per eliminare una domanda
      function deleteImage(id) {
        const formData = new FormData();
        formData.append("deleteImage", "true");

        fetch(`/update_question/${id}`, {
          method: "POST",
          body: formData,
        });

        if (response.status === 200) {
          alert("Domanda eliminata con successo");
          // Aggiorna la lista delle domande
          getQuestions();
        } else {
          alert(
            "Si è verificato un errore durante l'eliminazione della domanda"
          );
        }
      }

      // Funzione per eliminare l'immagine
      function deleteImage(id) {
        const formData = new FormData();
        formData.append("deleteImage", "true");

        fetch(`/update_question/${id}`, {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            if (response.status === 200) {
              alert("Immagine eliminata con successo");

              // Rimuovi l'immagine dall'anteprima
              let previewImgElement = document.getElementById(
                `previewImage${id}`
              );
              if (previewImgElement) {
                previewImgElement.remove();
              }

              // Rimuovi l'immagine dalla sezione dettagliata
              let detailImgElement = document.querySelector(`#hints${id} img`);
              if (detailImgElement) {
                detailImgElement.remove();
              }
            } else {
              alert(
                "Si è verificato un errore durante l'eliminazione dell'immagine"
              );
            }
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      }

      // Funzione per salvare la domanda modificata

      async function saveQuestion(id) {
        // Ottieni il testo modificato della domanda e dei suggerimenti
        const editedQuestion = document
          .getElementById(`question${id}`)
          .innerText.trim();
        const editedHints = document
          .getElementById(`editableHints${id}`)
          .innerHTML.replace(/<br>/g, "\n");

        // Crea un oggetto FormData per inviare sia il testo modificato che il file immagine
        const formData = new FormData();
        formData.append("question", editedQuestion);
        formData.append("hints", editedHints);

        if (selectedFile) {
          formData.append("newImage", selectedFile);
        }

        // Invia i dati al backend per l'aggiornamento
        const response = await fetch(`/update_question/${id}`, {
          method: "POST",
          body: formData,
        });

        const data = await response.json();

        // Se un file è stato selezionato
        if (selectedFile) {
          const reader = new FileReader();
          reader.onload = function (e) {
            // Aggiorna l'immagine principale
            let imgElement = document.getElementById(`image${id}`);
            if (!imgElement) {
              imgElement = document.createElement("img");
              imgElement.id = `image${id}`;
              document.getElementById(`hints${id}`).appendChild(imgElement);
            }
            imgElement.src = e.target.result;

            // Aggiorna l'immagine di anteprima
            let previewElement = document.getElementById(`previewImage${id}`);
            if (!previewElement) {
              previewElement = document.createElement("img");
              previewElement.id = `previewImage${id}`;
              previewElement.className = "img-preview";
              document.querySelector(`.card-id`).after(previewElement);
            }
            previewElement.src = e.target.result;
          };

          // Leggi il file immagine
          reader.readAsDataURL(selectedFile);
        } else {
          // Rimuovi l'elemento <img> se esiste
          let imgElement = document.getElementById(`image${id}`);
          if (imgElement) {
            imgElement.remove();
          }
          let previewElement = document.getElementById(`previewImage${id}`);
          if (previewElement) {
            previewElement.remove();
          }
        }

        // Se tutto va bene, ritorna alla modalità non modificabile
        if (response.status === 200) {
          alert(data.message);

          // Reimposta gli attributi e gli stili originali
          document.getElementById(`question${id}`).contentEditable = "false";
          document.getElementById(`editableHints${id}`).contentEditable =
            "false";
          document.getElementById(`question${id}`).style.backgroundColor = "";
          document.getElementById(`editableHints${id}`).style.backgroundColor =
            "";

          // Nascondi il campo di input per il caricamento dell'immagine e il bottone "Salva"
          document.getElementById(`imageInput${id}`).style.display = "none";
          document.getElementById(`saveButton${id}`).style.display = "none";

          // Resetta selectedFile a null
          selectedFile = null;
        } else {
          alert(
            "Si è verificato un errore durante l'aggiornamento della domanda."
          );
        }
      }

      async function resetSession() {
        const response = await fetch("/reset_session");
        if (response.status === 200) {
          const data = await response.json();
          alert(data.message);
        } else {
          alert("Errore nel reset della sessione.");
        }
      }

      function convertToList(text) {
        if (text.includes("- ")) {
          const listItems = text.split("- ").slice(1);
          const listHTML = listItems
            .map((item) => `<li>${item.replace(/\\n/g, "<br>")}</li>`)
            .join("");
          return `<ul>${listHTML}</ul>`;
        }
        return text.replace(/\\n/g, "<br>");
      }

      async function getQuestions() {
        const response = await fetch("/get_all_questions");
        const data = await response.json();
        let questionGrid = document.getElementById("questionGrid");
        questionGrid.innerHTML = ""; // Pulisci i vecchi dati se necessario

        data.forEach((item) => {
          let hints =
            typeof item.hints === "string"
              ? item.hints.replace(/\n/g, "<br>")
              : item.hints;
          let imageHTML = item.image
            ? `<img id="previewImage${item.id}" class="img-preview" src="${item.image}" alt="">`
            : "";

          let card = document.createElement("div");
          card.className = "card";

          card.innerHTML = `
                      <div class="card-body">
                          <span class="card-id">ID: ${item.id}</span>
                          ${imageHTML}
                          <div id="question${
                            item.id
                          }" class="card-title" contenteditable="false">
                              ${item.question}
                          </div>
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse${
                            item.id
                          }" aria-expanded="false">
                              Mostra Dettagli
                          </button>
                          <div class="collapse" id="collapse${item.id}">
                              <div id="hints${item.id}" class="card card-body">
                                  <div id="editableHints${
                                    item.id
                                  }" contenteditable="false">
                                  ${convertToList(
                                    item.hints.replace(/\n/g, "<br>")
                                  )}
                                </div>
                                  ${
                                    item.image
                                      ? `<img src="${item.image}" alt="Suggerimento in immagine">`
                                      : ""
                                  }
                                  <input type="file" id="imageInput${
                                    item.id
                                  }" style="display:none;">
                                  <button id="addModifyImageButton${
                                    item.id
                                  }" onclick="showImageInput(${
            item.id
          })" style="display:none;">Aggiungi/Modifica Immagine</button>
                                  <button id="deleteImageButton${
                                    item.id
                                  }" onclick="deleteImage(${
            item.id
          })" style="display:none;">Elimina Immagine</button>
                                  <button id="editButton${
                                    item.id
                                  }" onclick="editQuestion(${
            item.id
          })">Modifica</button>
                                  <button id="saveButton${
                                    item.id
                                  }" onclick="saveQuestion(${
            item.id
          })" style="display:none;">Salva</button>
                                  <button onclick="deleteQuestion(${
                                    item.id
                                  })">Elimina domanda</button>
                              </div>
                          </div>
                      </div>
                  `;

          questionGrid.appendChild(card);
        });
      }

      function uploadImage(id, file) {
        const formData = new FormData();
        formData.append("newImage", file);

        fetch(`/update_question_with_image/${id}`, {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            alert("Immagine aggiornata con successo");
          })
          .catch((error) => {
            console.log("Error:", error);
          });
      }

      // Funzione per eliminare una domanda
      async function deleteQuestion(id) {
        const confirmation = window.confirm(
          "Sei sicuro di voler eliminare questa domanda?"
        );
        if (confirmation) {
          try {
            const response = await fetch(`/delete_question/${id}`, {
              method: "DELETE",
            });

            if (response.status === 200) {
              alert("Domanda eliminata con successo");

              // Trova e rimuove la card della domanda
              const cards = document.querySelectorAll(".card");
              cards.forEach((card) => {
                const cardIdSpan = card.querySelector(".card-id");
                if (
                  cardIdSpan &&
                  cardIdSpan.textContent.includes(`ID: ${id}`)
                ) {
                  card.remove();
                }
              });
            } else {
              alert(
                "Si è verificato un errore durante l'eliminazione della domanda"
              );
            }
          } catch (error) {
            console.log("Errore:", error);
          }
        }
      }

      // Quando il documento è completamente caricato
      document.addEventListener("DOMContentLoaded", function () {
        getQuestions(); // Carica tutte le domande
        const resetButton = document.getElementById("resetSessionButton");
        resetButton.addEventListener("click", resetSession);
      });
    </script>
  </body>
</html>
