<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>Domande App</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Stile alla Apple */
      body {
        background-color: #f9f9f9;
        color: #333;
        font-family: "Helvetica Neue", sans-serif;
        text-align: center;
        font-size: 1.2rem;
      }
      .container {
        max-width: 600px;
        margin: auto;
      }
      .btn {
        background-color: #007aff;
        color: white;
      }
      #hints {
        text-align: justify;
        text-justify: inter-word;
        padding-left: 2rem;
        padding-right: 2rem;
      }
    </style>
  </head>

  <body>
    <div class="container-fluid mt-5">
      <h1>Domanda:</h1>
      <p id="question"></p>
      <button class="btn" onclick="showHints()">Mostra Suggerimenti</button>
      <!-- Inizialmente nascosto -->

      <!-- Levetta per mostrare/nascondere la sezione -->
      <button
        class="btn btn-link"
        type="button"
        data-toggle="collapse"
        data-target="#addQuestionSection"
        aria-expanded="false"
        aria-controls="addQuestionSection"
      >
        ^ Aggiungi una Nuova Domanda
      </button>
      <div id="hints" style="display: none; padding: 20 20px"></div>

      <!-- Sezione collassabile -->
      <div class="collapse" id="addQuestionSection" style="margin-top: 1rem">
        <!-- Form per l'aggiunta di nuove domande -->
        <form id="questionForm" enctype="multipart/form-data">
          <input
            type="text"
            id="newQuestion"
            name="newQuestion"
            class="form-control"
            placeholder="Qui inserisci una nuova domanda"
            rows="4"
          />
          <textarea
            id="newHints"
            name="newHints"
            class="form-control mt-2"
            placeholder="Qui inserisci i suggerimenti"
            rows="4"
          ></textarea>
          <input
            type="file"
            id="newImage"
            name="newImage"
            class="form-control mt-2"
          />
          <button type="submit" class="btn mt-2">Aggiungi</button>
        </form>
      </div>

      <h2 class="mt-5">Rispondi ad una Domanda</h2>
      <button class="btn" onclick="getRandomQuestion()">Nuova Domanda</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Funzione per aggiungere una nuova domanda
      async function addQuestion() {
        const form = document.getElementById("questionForm");
        const formData = new FormData(form);

        const response = await fetch("/add_question", {
          method: "POST",
          body: formData,
        });

        if (response.status === 201) {
          alert("Domanda aggiunta con successo");
          // Reimposta i campi di input
          document.getElementById("newQuestion").value = "";
          document.getElementById("newHints").value = "";
          document.getElementById("newImage").value = "";
        } else {
          alert("Errore nell'aggiunta della domanda");
        }
      }

      // Funzione per convertire il testo in una lista HTML se contiene marcatori di lista
      function convertToList(text) {
        if (text.includes("- ")) {
          const listItems = text.split("- ").slice(1); // Rimuove il primo elemento vuoto
          const listHTML = listItems
            .map((item) => `<li>${item.replace(/\n/g, "<br>")}</li>`)
            .join("");
          return `<ol>${listHTML}</ol>`;
        }
        return text.replace(/\n/g, "<br>");
      }
      // Funzione per ottenere una domanda casuale
      async function getRandomQuestion() {
        const response = await fetch("/get_question", {
          method: "GET",
        });

        const data = await response.json();
        console.log(data); // Debug: stampa i dati ricevuti

        // Controllo se tutte le domande sono state mostrate
        if (data.message) {
          const restart = window.confirm(
            "Le domande sono finite! Vuoi ricominciare?"
          );
          if (restart) {
            location.reload();
          }
          return;
        }

        document.getElementById("question").textContent = data.question;
        document.getElementById("hints").style.display = "none"; // Nasconde i suggerimenti

        // Applica la formattazione
        let hintsText = convertToList(data.hints.join("\n"));
        if (data.image) {
          hintsText =
            `<img src="${data.image}" alt="Suggerimento in immagine">` +
            hintsText;
        }

        // Controlla se il suggerimento contiene la parola "Importante"
        hintsText = hintsText.replace(
          /(Importante[^.]*\.)/g,
          '<span style="color: red; font-weight: bold;"><br><br>$1<br><br></span>'
        );

        document.getElementById("hints").innerHTML = hintsText;
      }

      // Funzione per mostrare i suggerimenti
      function showHints() {
        var hintsDiv = document.getElementById("hints");
        hintsDiv.style.display = "block"; // Mostra i suggerimenti
        hintsDiv.style.paddingTop = "2rem"; // Aggiungi padding a sinistra
        hintsDiv.style.paddingBottom = "1rem"; // Aggiungi padding a destra
      }

      // Evento per controllare se "Ctrl+Invio" è stato premuto nel textarea
      document
        .getElementById("newHints")
        .addEventListener("keydown", function (event) {
          if (event.key === "Enter" && event.ctrlKey) {
            this.value = this.value + "\n"; // Aggiunge una nuova riga
            event.preventDefault(); // Previene l'invio del form
          }
        });

      // Quando il documento è completamente caricato
      document.addEventListener("DOMContentLoaded", function () {
        // Aggancia l'evento submit al form
        const form = document.getElementById("questionForm");
        form.addEventListener("submit", function (event) {
          event.preventDefault(); // Previene il comportamento di invio standard del form
          addQuestion(); // Chiama la funzione per aggiungere una nuova domanda
        });
      });
    </script>
  </body>
</html>
