<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>Domande App</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style></style>
  </head>

  <body>
    <div class="container-fluid mt-5">
      <h1>Domanda:</h1>
      <p id="question"></p>
      <button class="btn btn-hints btn-primary" onclick="toggleHints()">
        Mostra Suggerimenti
      </button>
      <button
        class="btn btn-success"
        id="myGreenButton"
        onclick="getRandomQuestion()"
      >
        Nuova Domanda
      </button>

      <!-- Inizialmente nascosto -->

      <!-- Levetta per mostrare/nascondere la sezione -->
      <button
        class="btn btn-link"
        type="button"
        data-toggle="collapse"
        data-target="#addQuestionSection"
        aria-expanded="false"
        aria-controls="addQuestionSection"
      >
        ^ Aggiungi una Nuova Domanda
      </button>
      <div id="hints" style="display: none; padding: 20px"></div>

      <!-- Sezione collassabile -->
      <div class="collapse" id="addQuestionSection" style="margin-top: 1rem">
        <!-- Form per l'aggiunta di nuove domande -->
        <form id="questionForm" enctype="multipart/form-data">
          <input
            type="text"
            id="newQuestion"
            name="newQuestion"
            class="form-control"
            placeholder="Qui inserisci una nuova domanda"
            rows="4"
          />
          <textarea
            id="newHints"
            name="newHints"
            class="form-control mt-2"
            placeholder="Qui inserisci i suggerimenti"
            rows="4"
          ></textarea>
          <input
            type="file"
            id="newImage"
            name="newImage"
            class="form-control mt-2"
          />
          <button type="submit" class="btn mt-2">Aggiungi</button>
        </form>
      </div>
      <div id="imagePreviewContainer" style="margin-top: 1rem">
        <img
          id="imagePreview"
          src="#"
          alt="Anteprima dell'immagine"
          style="display: none; width: auto; height: auto"
        />
      </div>
    </div>
    <!-- Aggiungi un bottone di diverso colore -->
    <div style="height: 50px"></div>
    <div class="col-md-12">
      <a href="edit_questions" class="btn btn-warning">Vai all'editor</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Funzione per aggiungere una nuova domanda
      async function addQuestion() {
        const form = document.getElementById("questionForm");
        const formData = new FormData(form);

        const response = await fetch("/add_question", {
          method: "POST",
          body: formData,
        });

        if (response.status === 201) {
          alert("Domanda aggiunta con successo");
          // Reimposta i campi di input
          document.getElementById("newQuestion").value = "";
          document.getElementById("newHints").value = "";
          document.getElementById("newImage").value = "";
        } else {
          alert("Errore nell'aggiunta della domanda");
        }
      }

      // Funzione per convertire il testo in una lista HTML se contiene marcatori di lista
      function convertToList(text) {
        // Se il testo contiene "- ", allora crea una lista
        if (text.includes("- ")) {
          const listItems = text.split("- ").slice(1); // Rimuove il primo elemento vuoto
          const listHTML = listItems
            .map((item) => `<li>${item.replace(/\n/g, "<br>")}</li>`)
            .join("");
          return `<ul>${listHTML}</ul>`;
        }
        // Altrimenti, sostituisci solo i caratteri di "a capo" con <br>
        return text.replace(/\n/g, "<br>");
      }

      // Funzione per ottenere una domanda casuale
      async function getRandomQuestion() {
        // resetta il bottone dei suggerimenti
        hintsVisible = false;
        const hintsButton = document.querySelector(".btn-hints");
        hintsButton.textContent = "Mostra Suggerimenti";
        hintsButton.classList.remove("btn-danger");
        hintsButton.classList.add("btn-primary");
        // interroga l'API
        const response = await fetch("/get_question", {
          method: "GET",
        });

        const data = await response.json();
        console.log(data); // Debug: stampa i dati ricevuti

        // Controllo se tutte le domande sono state mostrate
        if (data.message) {
          const restart = window.confirm(
            "Le domande sono finite! Vuoi ricominciare?"
          );
          if (restart) {
            location.reload();
          }
          return;
        }

        document.getElementById("question").textContent = data.question;
        document.getElementById("hints").style.display = "none"; // Nasconde i suggerimenti

        // Applica la formattazione
        let hintsText = convertToList(data.hints); // Modifica qui, non più join
        if (data.image) {
          hintsText =
            `<div class="img-container"><img src="${data.image}" alt="Suggerimento in immagine" class="img-fluid"></div>` +
            `<div class="text-container">${hintsText}</div>`;
        }

        // Controlla se il suggerimento contiene la parola "Importante"
        hintsText = hintsText.replace(
          /(Importante[^.]*\.)/g,
          '<span style="color: red; font-weight: bold;"><br><br>$1<br><br></span>'
        );

        document.getElementById("hints").innerHTML = hintsText;
      }

      // Funzione per mostrare i suggerimenti
      function showHints() {
        var hintsDiv = document.getElementById("hints");
        hintsDiv.style.display = "block"; // Mostra i suggerimenti
        hintsDiv.style.paddingTop = "2rem"; // Aggiungi padding a sinistra
        hintsDiv.style.paddingBottom = "1rem"; // Aggiungi padding a destra
      }

      // Funzione per nascondere i suggerimenti
      function hideHints() {
        var hintsDiv = document.getElementById("hints");
        hintsDiv.style.display = "none"; // Nasconde i suggerimenti
      }

      // Evento per controllare se "Ctrl+Invio" è stato premuto nel textarea
      document
        .getElementById("newHints")
        .addEventListener("keydown", function (event) {
          if (event.key === "Enter" && event.ctrlKey) {
            this.value = this.value + "\n"; // Aggiunge una nuova riga
            event.preventDefault(); // Previene l'invio del form
          }
        });

      let hintsVisible = false;

      function toggleHints() {
        const hintsDiv = document.getElementById("hints");
        const button = document.querySelector(".btn-hints");

        hintsVisible = !hintsVisible;

        if (hintsVisible) {
          hintsDiv.style.display = "block";
          button.textContent = "Nascondi Suggerimenti";
          button.classList.remove("btn-primary");
          button.classList.add("btn-danger");
        } else {
          hintsDiv.style.display = "none";
          button.textContent = "Mostra Suggerimenti";
          button.classList.remove("btn-danger");
          button.classList.add("btn-primary");
        }
      }

      // Funzione per mostrare l'anteprima dell'immagine
      function showImagePreview(event) {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
          const imagePreview = document.getElementById("imagePreview");
          imagePreview.src = e.target.result;
          imagePreview.style.display = "block";
          imagePreview.style.width = "100%";
        };

        reader.readAsDataURL(file);
      }

      var dropZone = document.getElementById("addQuestionSection");

      // Eventi per il drag and drop
      dropZone.addEventListener("dragover", function (event) {
        event.preventDefault();
        this.style.backgroundColor = "rgba(0, 255, 0, 0.2)";
      });

      dropZone.addEventListener("dragleave", function (event) {
        this.style.backgroundColor = "transparent";
      });

      dropZone.addEventListener("drop", function (event) {
        event.preventDefault();
        this.style.backgroundColor = "transparent";

        // Accedi ai file trascinati
        var files = event.dataTransfer.files;

        // Supponiamo che ci sia solo un file
        var file = files[0];

        // Carica il file e mostra un'anteprima
        showImagePreview({ target: { files: [file] } });

        // Aggiungi il file all'input type="file"
        var newImageInput = document.getElementById("newImage");
        newImageInput.files = files;
      });

      // Evento per l'input del file
      document
        .getElementById("newImage")
        .addEventListener("change", showImagePreview);

      // Quando il documento è completamente caricato
      document.addEventListener("DOMContentLoaded", function () {
        // Aggancia l'evento submit al form
        const form = document.getElementById("questionForm");
        form.addEventListener("submit", function (event) {
          event.preventDefault(); // Previene il comportamento di invio standard del form
          addQuestion(); // Chiama la funzione per aggiungere una nuova domanda
        });
      });
    </script>
  </body>
</html>
